.header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 767px) {
    &-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-logo {
      font-family: Raleway;
      font-weight: 700;
      font-size: 26px;

      color: #2196f3;

      & span {
        color: #000000;
      }
    }

    &-menu {
      display: inline-flex;
      border: none;
      background-color: transparent;

      &-close {
        display: none;
      }

      &.is-open &-close {
        display: block;
      }

      &.is-open &-open {
        display: none;
      }
      &:hover,
      &:focus {
        fill: var(--accent-color);
      }

      &-container {
        display: none;
        position: absolute;
        top: 101%;
        left: 0;

        width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;

        text-align: center;

        background-color: #fff;

        &.is-open {
          display: block;
        }
      }
      &-nav {
        margin-bottom: 60px;
      }
    }
    &-item:not(:last-child) {
      margin-bottom: 40px;
    }

    &-link {
      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

      font-weight: 500;
      font-size: 18px;
      line-height: 1.166;
      letter-spacing: 0.02em;

      color: #212121;

      &:hover,
      &:focus {
        color: #2196f3;
      }
    }
    &-current-page {
      position: relative;

      color: #2196f3;

      &-underline {
        position: absolute;
        bottom: -9px;

        width: 100%;
        height: 4px;
        border-radius: 2px;

        background-color: #2196f3;
      }
    }
    &-address-link {
      display: block;

      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.166;

      color: #757575;

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
    .header-address-svg-mail {
      display: inline-block;

      margin-right: 10px;

      width: 16px;
      height: 11px;
      fill: #757575;
    }
    .header-address-svg-tel {
      display: inline-block;

      margin-right: 10px;

      width: 10px;
      height: 15px;
      fill: #757575;
    }
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;

    &-nav {
      display: flex;
    }

    &-logo {
      margin-right: 88px;

      font-size: 24px;

      color: #2196f3;
    }

    & span {
      color: #000000;
    }

    &-list {
      display: flex;
    }

    &-item:not(:last-child) {
      margin-right: 50px;
    }
    &-menu {
      display: none;

      &-nav {
        margin-right: 84px;
      }
      &-container {
        display: flex;
        align-items: center;
        flex-grow: 1;
      }
    }

    &-link {
      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

      font-weight: 500;
      font-size: 14px;
      line-height: 1.142;
      letter-spacing: 0.02em;

      color: #212121;

      &:hover,
      &:focus {
        color: #2196f3;
      }
    }

    &-current-page {
      position: relative;

      color: #2196f3;

      &-underline {
        position: absolute;

        width: 100%;
        height: 4px;
        bottom: -33px;
        border-radius: 2px;

        background-color: #2196f3;
      }
    }

    &-menu-contacts {
      margin-left: auto;
    }

    &-address-link {
      display: block;

      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.166;
      letter-spacing: 0.02em;

      color: #757575;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    &-address-svg-mail {
      margin-right: 8px;

      width: 14px;
      height: 10px;
      fill: #757575;
    }

    &-address-svg-tel {
      margin-right: 8px;

      width: 10px;
      height: 14px;
      fill: #757575;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &-logo {
      margin-right: 93px;

      font-family: Raleway;
      font-weight: 700;
      font-size: 26px;
    }

    &-menu-nav {
      margin-right: 0;
    }

    &-address {
      display: flex;

      &-link {
        display: flex;
        align-items: center;

        &:not(:last-child) {
          margin-right: 30px;
          margin-bottom: 0;
        }
        &:hover,
        &:focus {
          cursor: pointer;
          color: var(--accent-color);
        }
        &:hover .header-address-svg-mail,
        &:focus .header-address-svg-mail {
          fill: var(--accent-color);
        }

        &:hover .header-address-svg-tel,
        &:focus .header-address-svg-tel {
          fill: var(--accent-color);
        }
      }
      &-svg-mail {
        margin-right: 10px;

        width: 16px;
        height: 12px;
        fill: #757575;
      }
      &-svg-tel {
        margin-right: 10px;

        width: 10px;
        height: 16px;
        fill: #757575;
      }
    }
  }
}
