.hero-backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: scroll;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  &-modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);

    width: 450px;
    padding: 38px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

    background-color: #ffffff;

    &-close {
      position: absolute;
      top: 8px;
      right: 8px;
      display: flex;
      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

      width: 30px;
      height: 30px;
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;

      background-color: #ffffff;

      &:hover,
      &:focus {
        cursor: pointer;
        background-color: var(--accent-color);
      }

      &:hover &-svg,
      &:focus &-svg {
        fill: #ffffff;
      }
      &-svg {
        width: 11px;
        height: 11px;

        fill: #212121;
      }
    }
  }
  &-title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;

    color: #212121;
  }

  &-field {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
  }

  &-label {
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.01em;

    color: #757575;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }
  &-div {
    position: relative;
  }
  &-input {
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 100%;
    height: 40px;
    margin: 0;
    padding-left: 15px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &:hover,
    &:focus {
      cursor: pointer;
      border-color: var(--accent-color);
    }

    &:hover + .hero-backdrop-svg,
    &:focus + .hero-backdrop-svg {
      fill: var(--accent-color);
    }
  }
  &-svg {
    position: absolute;
    top: 50%;
    left: 15px;

    margin: 0;
    padding: 0;
    transform: translateY(-50%);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-comment {
    resize: none;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 370px;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &:hover,
    &:focus {
      border: 1px solid var(--accent-color);
    }

    &::placeholder {
      font-size: 14px;
      letter-spacing: 0.01em;

      color: rgba(117, 117, 117, 0.5);
    }
  }

  &-checkbox {
    appearance: none;
    -webkit-appearance: none;

    margin-bottom: 31px;

    &-label {
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 12px;
      line-height: 1.166;

      color: #757575;

      &::before {
        content: "";
        display: inline-block;

        width: 16px;
        height: 15px;
        border: 2px solid #212121;
        border-radius: 2px;
        margin-right: 8px;

        background-color: #fff;
      }
    }

    &-check:checked + &-label::before {
      width: 16px;
      height: 15px;
      border: 2px solid #212121;
      border-radius: 2px;
      margin-right: 8px;

      background-image: url(../.././images/studio/hero-backdrop/check.svg);
      background-position: center;
      background-size: contain;
    }

    &-label-conditions {
      text-decoration: underline;
      color: #2196f3;
    }
  }
  &-btn {
    display: block;
    min-width: 200px;
    height: 50px;
    padding: 10px 55px;
    border-color: #2196f3;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;

    color: #ffffff;
    background-color: #2196f3;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }
}

//   &-form {
//     margin-bottom: 12px;

//     font-weight: 700;
//     font-size: 20px;
//     text-align: center;

//     color: #212121;

//     &-field {
//       display: flex;
//       flex-direction: column;

//       margin-bottom: 10px;
//     }
//     &-label {
//       margin-bottom: 4px;

//       font-size: 12px;
//       letter-spacing: 0.01em;

//       color: #757575;
//     }
//     &-div {
//       position: relative;
//     }
//     &-input {
//       width: 100%;
//       height: 40px;
//       margin: 0;
//       padding-left: 42px;
//       border: 1px solid rgba(33, 33, 33, 0.2);
//       border-radius: 4px;

//       outline: none;
//       transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

//       &:hover,
//       &:focus {
//         border-color: var(--accent-color);
//       }
//       &:hover + .hero-backdrop-form-svg,
//       &:focus + .hero-backdrop-form-svg {
//         fill: var(--accent-color);
//       }
//     }
//     &-svg {
//       position: absolute;
//       top: 50%;
//       left: 12px;

//       margin: 0;
//       padding: 0;
//       transform: translateY(-50%);
//       transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }
//     &-comment {
//       resize: none;
//       transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

//       width: 448px;
//       height: 120px;
//       padding: 12px 16px;
//       border: 1px solid rgba(33, 33, 33, 0.2);
//       border-radius: 4px;
//       outline: none;

//       &:hover,
//       &:focus {
//         border: 1px solid var(--accent-color);
//       }
//       &::placeholder {
//         font-size: 12px;

//         color: rgba(117, 117, 117, 0.5);
//       }
//     }
//     &-checkbox {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       appearance: none;
//       -webkit-appearance: none;

//       margin-bottom: 30px;

//       &-label {
//         display: flex;
//         align-items: center;

//         font-size: 14px;
//         line-height: 1.7;

//         color: #757575;
//       }
//       &-label::before {
//         content: "";

//         width: 16px;
//         height: 15px;
//         border: 2px solid #212121;
//         border-radius: 2px;
//         margin-right: 7px;

//         background-color: #fff;
//       }
//       &-check:checked + &-label::before {
//         width: 16px;
//         height: 15px;
//         border: 2px solid #212121;
//         border-radius: 2px;
//         margin-right: 7px;

//         background-image: url(../.././images/studio/hero-backdrop/check.svg);
//         background-position: center;
//         background-size: contain;
//       }
//       &-label-conditions {
//         text-decoration: underline;
//         color: #2196f3;
//       }
//     }
//     &-btn {
//       display: block;
//       border-color: #2196f3;
//       border-radius: 4px;
//       margin: 0 auto;
//       padding: 10px 32px;
//       min-width: 200px;
//       height: 50px;
//       box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

//       font-weight: 700;
//       font-size: 16px;
//       line-height: 1.9;
//       text-align: center;
//       letter-spacing: 0.06em;

//       color: #ffffff;
//       background-color: #2196f3;
//     }
//   }
// }
