:root {
  --color-title: #212121;
  --accent-color: #2196f3;
  --bg-color-footer: #2f303a;
  --accent-button-color: #ffffff;
  --accent-button-bg-color: #2196f3;
}
.body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.2;
}
